@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700|Open+Sans:300,400,700&subset=cyrillic-ext");
body {
  overflow-x: hidden; }

body, html, h1, h2, h3, h4, h5, h6, p, a, div {
  font-size: 10px; }

* {
  outline: greenyellow;
  transition: all .3s ease; }

.mainNavbar {
  background-color: red;
  border: 0px; }
  .mainNavbar .container-fluid .navbar-header .navbar-brand {
    padding: 0; }
    .mainNavbar .container-fluid .navbar-header .navbar-brand > svg {
      width: 10.4rem;
      margin: 1.6rem 4.8rem; }
  .mainNavbar .container-fluid .navbar-collapse .navbar-left > li > a {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
    height: 7.2rem;
    padding: 2.4rem 3.2rem;
    text-transform: uppercase; }
    .mainNavbar .container-fluid .navbar-collapse .navbar-left > li > a:hover {
      background-color: #fff; }

.try {
  width: 600px;
  height: 100px;
  outline: 2px solid gold;
  background-image: url(../img/Section5_AboutStudio_backgroundImage.jpg);
  background-color: rgba(81, 191, 234, 0.85);
  box-shadow: inset 0 0 0 1000px rgba(81, 191, 234, 0.85); }

@media screen and (min-width: 1200px) {
  .limitWidth1200 {
    width: 1200px;
    margin: 0px auto; } }

@media screen and (min-width: 768px) {
  .header .navMenusBottom {
    width: 50%;
    position: absolute;
    right: 0%;
    top: 50%;
    z-index: 0;
    overflow: visible;
    background-color: transparent; }
    .header .navMenusBottom .container-fluid .navbar-header {
      position: relative; }
    .header .navMenusBottom .container-fluid .navbar-collapse {
      padding-left: 0px;
      padding-right: 0px;
      overflow: hidden;
      background-color: transparent; }
      .header .navMenusBottom .container-fluid .navbar-collapse .nav {
        width: 100%; }
        .header .navMenusBottom .container-fluid .navbar-collapse .nav > li .headerSecondDropMenu {
          opacity: 0;
          z-index: 0;
          position: absolute;
          padding: 1rem;
          background-color: #81d742;
          top: 100%;
          left: -25%;
          width: 150%; } }

@media screen and (max-width: 767px) {
  .footer .footer_phones {
    width: 100%;
    text-align: center; } }
