@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700|Open+Sans:300,400,700&subset=cyrillic-ext");
body {
  overflow-x: hidden; }

body, html, h1, h2, h3, h4, h5, h6, p, a, div {
  font-size: 10px; }

* {
  outline: greenyellow;
  transition: all .3s ease; }

.mainNavbar {
  background-color: red;
  border: 0px; }
  .mainNavbar .container-fluid .navbar-header .navbar-brand {
    padding: 0; }
    .mainNavbar .container-fluid .navbar-header .navbar-brand > svg {
      width: 10.4rem;
      margin: 1.6rem 4.8rem; }
  .mainNavbar .container-fluid .navbar-collapse .navbar-left > li > a {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
    height: 7.2rem;
    padding: 2.88rem 1.6rem;
    text-transform: uppercase; }
    .mainNavbar .container-fluid .navbar-collapse .navbar-left > li > a:hover {
      background-color: #fff;
      color: #3c3c3c; }
  .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_products:hover .container {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_products .container {
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    position: fixed;
    top: 7.2rem;
    left: 0;
    width: 100%;
    height: 56.8rem; }
    .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_products .container .limitWidth1200 .firstRow {
      height: 42.6rem; }
      .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_products .container .limitWidth1200 .firstRow div.col-xs-3:first-of-type:hover {
        background-color: #fafafa; }
      .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_products .container .limitWidth1200 .firstRow div.col-xs-3 .block {
        display: block;
        min-height: 14.19858rem;
        max-height: 14.19858rem;
        overflow: hidden;
        margin: 0rem;
        padding: 1rem;
        border-bottom: 1.4em solid transparent;
        text-decoration: none;
        cursor: pointer; }
        .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_products .container .limitWidth1200 .firstRow div.col-xs-3 .block:hover {
          background-color: rgba(0, 113, 206, 0.5); }
        .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_products .container .limitWidth1200 .firstRow div.col-xs-3 .block .headerProduct-text {
          line-height: 2.4rem;
          padding-bottom: 20px; }
      .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_products .container .limitWidth1200 .firstRow div.col-xs-3 .block01:before {
        content: '';
        height: 90%;
        width: 1px;
        background-color: #6a6a6a;
        position: absolute;
        left: 0;
        top: 5%; }
      .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_products .container .limitWidth1200 .firstRow div.col-xs-3 .block02:after {
        content: '';
        height: 90%;
        width: 1px;
        background-color: #6a6a6a;
        position: absolute;
        right: 0;
        top: 5%; }
    .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_products .container .limitWidth1200 .secondRow {
      border-top: 1px solid #6a6a6a; }
      .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_products .container .limitWidth1200 .secondRow > div {
        text-align: left; }
        .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_products .container .limitWidth1200 .secondRow > div .headerProductButton {
          font-family: 'Fira Sans', sans-serif;
          font-size: 22px;
          color: #3c3c3c;
          font-weight: 400;
          border: none;
          background-color: transparent;
          padding: 1rem; }
          .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_products .container .limitWidth1200 .secondRow > div .headerProductButton:hover {
            color: #4bb900; }
  .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_company .container-fluid {
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    position: fixed;
    top: 7.2rem;
    left: 0;
    width: 100%; }
    .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_company .container-fluid .row {
      padding-top: 2em; }
      .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_company .container-fluid .row > div {
        height: 19.2rem; }
        .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_company .container-fluid .row > div > p {
          padding-right: 2rem; }
  .mainNavbar .container-fluid .navbar-collapse .navbar-left li.header_company:hover .container-fluid {
    opacity: 1;
    visibility: visible;
    z-index: 1; }
  .mainNavbar .container-fluid .navbar-collapse .navbar-right > li > a {
    height: 7.2rem;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
    padding: 2.4rem 1.6rem;
    text-transform: uppercase; }
    .mainNavbar .container-fluid .navbar-collapse .navbar-right > li > a:hover {
      background-color: #fff;
      color: #3c3c3c; }
  .mainNavbar .container-fluid .navbar-collapse .navbar-right > li.header_language {
    position: relative;
    width: 5.12rem; }
    .mainNavbar .container-fluid .navbar-collapse .navbar-right > li.header_language > ul {
      position: absolute;
      top: 100%;
      list-style: none;
      padding: 0;
      height: 14.4rem; }
      .mainNavbar .container-fluid .navbar-collapse .navbar-right > li.header_language > ul > li {
        text-decoration: none; }
        .mainNavbar .container-fluid .navbar-collapse .navbar-right > li.header_language > ul > li > a {
          display: block;
          font-family: 'Fira Sans', sans-serif;
          font-size: 1.6rem;
          color: #fff;
          font-weight: 400;
          padding: 2.4rem 1.6rem;
          text-transform: uppercase;
          background-color: transparent;
          opacity: 0;
          text-decoration: none;
          width: 5.12rem; }
    .mainNavbar .container-fluid .navbar-collapse .navbar-right > li.header_language:hover {
      background-color: #fff; }
      .mainNavbar .container-fluid .navbar-collapse .navbar-right > li.header_language:hover > a {
        color: #3c3c3c; }
      .mainNavbar .container-fluid .navbar-collapse .navbar-right > li.header_language:hover > ul > li > a {
        color: #3c3c3c;
        background-color: #fff;
        opacity: 1;
        position: relative; }
  .mainNavbar .container-fluid .navbar-collapse .navbar-right > li.cart:after {
    content: '20';
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 400;
    display: block;
    position: absolute;
    right: 0;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: #026ab7;
    border: 1px solid #051830;
    border-radius: 50%;
    padding: 0.1rem 0.1rem 0.1rem 0.2rem; }
  .mainNavbar .container-fluid .navbar-collapse .navbar-right > li.cart:hover:after {
    border: 1px solid #fff; }
  .mainNavbar .container-fluid .navbar-collapse .headerProduct-caption {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
    color: #3c3c3c;
    font-weight: 400;
    margin: 1em 0; }
  .mainNavbar .container-fluid .navbar-collapse .headerProduct-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: #6a6a6a;
    font-weight: 400;
    margin: 1em 0;
    text-overflow: ellipsis; }
  .mainNavbar .container-fluid .navbar-collapse .headerProduct-link {
    display: block;
    margin: 1em 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.8rem;
    color: #0071ce;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer; }
  .mainNavbar .container-fluid .navbar-collapse .headerCompany_company {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3.6rem;
    color: #3c3c3c;
    font-weight: 300; }

.try {
  width: 600px;
  height: 100px;
  outline: 2px solid gold;
  background-image: url(../img/Section5_AboutStudio_backgroundImage.jpg);
  background-color: rgba(81, 191, 234, 0.85);
  box-shadow: inset 0 0 0 1000px rgba(81, 191, 234, 0.85); }

@media screen and (min-width: 1200px) {
  .limitWidth1200 {
    width: 1200px;
    margin: 0px auto; } }

@media screen and (min-width: 768px) {
  .header .navMenusBottom {
    width: 50%;
    position: absolute;
    right: 0%;
    top: 50%;
    z-index: 0;
    overflow: visible;
    background-color: transparent; }
    .header .navMenusBottom .container-fluid .navbar-header {
      position: relative; }
    .header .navMenusBottom .container-fluid .navbar-collapse {
      padding-left: 0px;
      padding-right: 0px;
      overflow: hidden;
      background-color: transparent; }
      .header .navMenusBottom .container-fluid .navbar-collapse .nav {
        width: 100%; }
        .header .navMenusBottom .container-fluid .navbar-collapse .nav > li .headerSecondDropMenu {
          opacity: 0;
          z-index: 0;
          position: absolute;
          padding: 1rem;
          background-color: #81d742;
          top: 100%;
          left: -25%;
          width: 150%; } }

@media screen and (max-width: 767px) {
  .footer .footer_phones {
    width: 100%;
    text-align: center; } }
