//import section
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700|Open+Sans:300,400,700&subset=cyrillic-ext');

//main rules section
body {
  overflow-x: hidden;
}
body, html,h1,h2,h3,h4,h5,h6,p,a,div {
  // main font size to all other measurements = 1rem
  font-size: 10px;
}
* {
  outline: greenyellow;
  transition: all .3s ease;
}

$mainBlueColor: #32b4e6;
$mainGreenColor: #81d742;

//constant section
$mainFontSize: 1.6rem;
$fontSize_headerProductCaption:2.2rem;
$fontSize_headerProductText:1.6rem;
$fontSize_headerProductLink:1.8rem;


$fontColorHeaderTop:#fff;
$fontColorHeaderTop-hover:#3c3c3c;
$fontColorHeaderProductText:#6a6a6a;
$fontColorHeaderProductLink:#0071ce;
$fontColorHeaderProductLink_opacity50:rgba(0,113,206,0.5);

$fontWeightHeader-regular:400;


//mixin section
@mixin  fontFiraSans_headerItems($fontSize,$fontColor,$fontWeight){
  font-family: 'Fira Sans', sans-serif;
  font-size:$fontSize;
  color: $fontColor;
  font-weight:$fontWeight;
}

@mixin  fontOpenSans_headerItems($fontSize,$fontColor,$fontWeight){
  font-family: 'Open Sans', sans-serif;
  font-size:$fontSize;
  color: $fontColor;
  font-weight:$fontWeight;
}

//main styles section

.mainNavbar {
  background-color: red;
  border:0px;
  & .container-fluid {
    & .navbar-header {
      & .navbar-toggle {

      }
      & .navbar-brand {
        padding:0;
        &>svg {

          width:$mainFontSize*6.5;
          margin:$mainFontSize*1 $mainFontSize*3;
        }
      }
    }
    & .navbar-collapse {
      & .navbar-left {
        &>li {
          &>a {
            @include fontFiraSans_headerItems($mainFontSize, $fontColorHeaderTop,$fontWeightHeader-regular);
            height:$mainFontSize*4.5;
            padding: $mainFontSize*1.8 $mainFontSize*1;
            text-transform: uppercase;
            &:hover {
              background-color: #fff;
              color: $fontColorHeaderTop-hover;
            }
          }
        }
        & li.header_products {
          & .container {
            position: fixed;
            top:$mainFontSize*4.5;
            left:0;
            //background-color: cyan;
            width:100%;
            height:$mainFontSize*35.5;

            & .limitWidth1200 {

              & .firstRow {
                height:$mainFontSize*35.5*0.75;
                & div.col-xs-3 {
                  &:first-of-type:hover {
                    background-color: #fafafa;
                  }
                  & .block {
                    display: block;
                    min-height:$mainFontSize*35.5*0.75*0.3333;
                    max-height:$mainFontSize*35.5*0.75*0.3333;
                    overflow: hidden;
                    //box-shadow: inset 0px 0px 10px 10px rgba(255,255,255,1);
                    margin:0rem;
                    padding:1rem;
                    border-bottom: 1.4em solid transparent;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover {
                      background-color: $fontColorHeaderProductLink_opacity50;
                    }

                    & .headerProduct-caption {
                    }
                    & .headerProduct-text {
                      line-height:$mainFontSize*1.5;
                      padding-bottom:20px;
                    }
                    & .headerProduct-link {
                    }
                  }
                }
              }
              & .secondRow {

              }
            }
          }
          & .headerProduct-caption {
            @include fontOpenSans_headerItems($fontSize_headerProductCaption, $fontColorHeaderTop-hover,$fontWeightHeader-regular);
            margin:1em 0;
          }
          & .headerProduct-text {
            @include fontOpenSans_headerItems($fontSize_headerProductText, $fontColorHeaderProductText,$fontWeightHeader-regular);
            margin:1em 0;
            text-overflow: ellipsis;


          }
          & .headerProduct-link {
            display: block;
            margin:1em 0;
            @include fontFiraSans_headerItems($fontSize_headerProductLink,$fontColorHeaderProductLink,$fontWeightHeader-regular);
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
      & .navbar-right {
        &>li {
          &>a {
            height:$mainFontSize*4.5;
            @include fontFiraSans_headerItems($mainFontSize, $fontColorHeaderTop,$fontWeightHeader-regular);
            padding: $mainFontSize*1.5 $mainFontSize*1;
            text-transform: uppercase;
            &:hover {
              background-color: #fff;
              color: $fontColorHeaderTop-hover;
            }

          }
        }
        &>li.header_language {
          position: relative;
          width:$mainFontSize*3.2;

          &>ul {
            position: absolute;
            top:100%;
            list-style: none;
            padding:0;
            height:$mainFontSize*9;
            &>li {
              text-decoration: none;
              &>a {
                display: block;
                @include fontFiraSans_headerItems($mainFontSize, $fontColorHeaderTop,$fontWeightHeader-regular);
                padding: $mainFontSize*1.5 $mainFontSize*1;
                text-transform: uppercase;
                background-color: transparent;
                opacity: 0;
                text-decoration: none;
                width:$mainFontSize*3.2;
              }
            }
          }
          &:hover {
            background-color: #fff;
            &>a {
              color: $fontColorHeaderTop-hover;
            }
            &>ul {
              &>li {
                &>a {
                  color: $fontColorHeaderTop-hover;
                  background-color: #fff;
                  opacity:1;
                  position: relative;

                }
              }
            }
          }
        }
        &>li.cart {

        }
      }
    }
  }


}

.try {
  width:600px;
  height: 100px;
  outline:2px solid gold;
  background-image: url(../img/Section5_AboutStudio_backgroundImage.jpg);
  background-color:  rgba(81,191,234,0.85);
  box-shadow: inset 0 0 0 1000px rgba(81,191,234,.85);
}



@media screen and (min-width: 1200px) {
  .limitWidth1200 {
    width: 1200px;
    margin: 0px auto;
  }
}


@media screen and (min-width: 768px) {
  .header {
    & .navMenusBottom {
      width: 50%;
      position: absolute;
      right: 0%;
      top: 50%;
      z-index: 0;
      overflow: visible;
      background-color: transparent;

      & .container-fluid {

        & .navbar-header {
          position: relative;
          & button {

          }
        }
        & .navbar-collapse {
          padding-left: 0px;
          padding-right: 0px;
          overflow: hidden;
          background-color: transparent;
          & .nav {
            width: 100%;
            & > li {
              & .headerSecondDropMenu {
                opacity:0;
                z-index: 0;
                position: absolute;
                padding:1rem;
                background-color: $mainGreenColor;
                top:100%;
                left:-25%;
                width:150%;
              }
            }
          }
        }
      }
    }
  }
};
@media screen and (max-width: 767px) {
  .footer {
    & .footer_phones {
      width:100%;
      text-align: center;
    }
  }
}