//import section
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700|Open+Sans:300,400,700&subset=cyrillic-ext');

//main rules section
body {
  overflow-x: hidden;
}
body, html,h1,h2,h3,h4,h5,h6,p,a,div {
  // main font size to all other measurements = 1rem
  font-size: 10px;
}
* {
  outline: greenyellow;
  transition: all .3s ease;
}

$mainBlueColor: #32b4e6;
$mainGreenColor: #81d742;

//constant section
$mainFontSize: 1.6rem;
$mainFontColorHeaderTop:#fff;
$mainFontColorHeaderTop-hover:#3c3c3c;
$fontWeightHeader-regular:400;


//mixin section
@mixin  fontFiraSans_headerItems($fontSize,$fontColor,$fontWeight){
  font-family: 'Fira Sans', sans-serif;
  font-size:$fontSize;
  color: $fontColor;
  font-weight:$fontWeight;
}
@mixin logoText($color) {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  };
@mixin commonTextRoboto($color,$size,$weight) {
  font-family: "Roboto Condensed", sans-serif;
  font-size: $size;
  color: $color;
  font-weight: $weight;
  }

//main styles section

.mainNavbar {
  background-color: red;
  border:0px;
  & .container-fluid {
    & .navbar-header {
      & .navbar-toggle {

      }
      & .navbar-brand {
        padding:0;
        &>svg {

          width:$mainFontSize*6.5;
          margin:$mainFontSize*1 $mainFontSize*3;
        }
      }
    }
    & .navbar-collapse {
      & .navbar-left {
        &>li {
          &>a {
            @include fontFiraSans_headerItems($mainFontSize,$mainFontColorHeaderTop,$fontWeightHeader-regular);
            height:$mainFontSize*4.5;
            padding: $mainFontSize*1.5 $mainFontSize*2;
            text-transform: uppercase;
            &:hover {
              background-color: #fff;
            }
          }
        }
      }
      & .navbar-right {
        &>li {
          &>a {

          }
        }
      }
    }
  }


}

.try {
  width:600px;
  height: 100px;
  outline:2px solid gold;
  background-image: url(../img/Section5_AboutStudio_backgroundImage.jpg);
  background-color:  rgba(81,191,234,0.85);
  box-shadow: inset 0 0 0 1000px rgba(81,191,234,.85);
}



@media screen and (min-width: 1200px) {
  .limitWidth1200 {
    width: 1200px;
    margin: 0px auto;
  }
}


@media screen and (min-width: 768px) {
  .header {
    & .navMenusBottom {
      width: 50%;
      position: absolute;
      right: 0%;
      top: 50%;
      z-index: 0;
      overflow: visible;
      background-color: transparent;

      & .container-fluid {

        & .navbar-header {
          position: relative;
          & button {

          }
        }
        & .navbar-collapse {
          padding-left: 0px;
          padding-right: 0px;
          overflow: hidden;
          background-color: transparent;
          & .nav {
            width: 100%;
            & > li {
              & .headerSecondDropMenu {
                opacity:0;
                z-index: 0;
                position: absolute;
                padding:1rem;
                background-color: $mainGreenColor;
                top:100%;
                left:-25%;
                width:150%;
              }
            }
          }
        }
      }
    }
  }
};
@media screen and (max-width: 767px) {
  .footer {
    & .footer_phones {
      width:100%;
      text-align: center;
    }
  }
}